# Flutter
.dart_tool/
.packages
build/
*.iml
*.ipr
*.iws
.idea/

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/release/
*.apk
*.aab

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Файлы среды
.env
.env.*

# Генерированные файлы
*.g.dart
*.freezed.dart

# Кэш
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
